@import "tailwindcss";
.input {
  width: 100%;
  margin-bottom: 14px;
  padding: 14px 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  border: 1px solid rgba(34, 197, 94, 0.2);
}

.input:focus {
  border-color: #15803d;
  box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.15);
}